# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\论文复现0814\ResNet50-livingbody\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
